.main-style {
	background-color: "light-grey";
	font-family: "Quicksand" !important;
}

.default-font {
	font-family: "Quicksand";
}

.header-parent {
	position: relative;
	width: 100vw;
	height: auto;
}

.sidenav---sidenav---_2tBP {
	background-color: grey !important;
}

.header {
	background-color: grey;
	width: 100vw;
	height: 64px;
}

.card-shadow {
	border: 0px solid #c8ced3;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	background-color: #ededed;
}

.change-pass-btn {
	color: black;
	text-decoration: underline;
	cursor: pointer;
	font-size: 0.7rem;
	margin: 0px 15px;
	width: fit-content;
}
.change-pass-btn:hover {
	color: darkblue;
}

.login-card {
	height: auto;
	width: 300px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.btn-clear {
	color: #338718;
	background-color: #fff;
	border: 1.5px solid #338718;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	font-family: "Quicksand" !important;
}
.btn-clear:hover {
	color: #338718;
	background-color: #fff;
	border-color: #338718;
}
.btn-clear:focus,
.btn-clear.focus {
	box-shadow: 0 0 0 0.2rem rgba(51, 135, 24, 0);
}
.btn-clear.disabled,
.btn-clear:disabled {
	color: #fff;
	background-color: #338718;
	border-color: #338718;
}
.btn-clear:not(:disabled):not(.disabled):active,
.btn-clear:not(:disabled):not(.disabled).active,
.show > .btn-clear.dropdown-toggle {
	color: #fff;
	background-color: #338718;
	border-color: #338718;
}
.btn-clear:not(:disabled):not(.disabled):active:focus,
.btn-clear:not(:disabled):not(.disabled).active:focus,
.show > .btn-clear.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(51, 135, 24, 0);
}

.btn-cancel {
	color: #d0021b;
	background-color: #fff;
	border: 1.5px solid #d0021b;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	font-family: "Quicksand" !important;
}
.btn-cancel:hover {
	color: #d0021b;
	background-color: #fff;
	border-color: #d0021b;
}
.btn-cancel:focus,
.btn-cancel.focus {
	box-shadow: 0 0 0 0.2rem rgba(208, 2, 27, 0);
}
.btn-cancel.disabled,
.btn-cancel:disabled {
	color: #fff;
	background-color: #d0021b;
	border-color: #d0021b;
}
.btn-cancel:not(:disabled):not(.disabled):active,
.btn-cancel:not(:disabled):not(.disabled).active,
.show > .btn-cancel.dropdown-toggle {
	color: #fff;
	background-color: #d0021b;
	border-color: #d0021b;
}
.btn-cancel:not(:disabled):not(.disabled):active:focus,
.btn-cancel:not(:disabled):not(.disabled).active:focus,
.show > .btn-cancel.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(208, 2, 27, 0);
}
